.login__container {
  margin: 50px auto 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 358px;
}

@media screen and (max-width:900px) {
    .login__container  {
        max-width: 282px;
        padding: 25px 19px;
    }

}